# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL=postgresql://kunang_user:QQxLgXN5JagNYJdC@localhost/kunang_db?schema=public
DATABASE_URL=postgresql://user:password@host/db?schema=public
EMAIL_CONFIRMATION_SMTP_USERNAME = user@gmail.com
EMAIL_CONFIRMATION_SMTP_PASSWORD = password
DEFAULT_COUNTRY_CODE = "62"
APP_BASE_URL = "http://localhost:3000"
EMAIL_CONFIRMATION_SUBJECT = "Email Confirmation"
MESSAGEBIRD_WEBHOOK_BASE_URL = https://something.com
MESSAGEBIRD_OTP_FLOW_ID = 722227b1-443e-46c5-bea-c40b415fb3